<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
    <link href="../../../Content/main.css" rel="stylesheet" type="text/css" />
    <link href="../../../Content/fonts.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="home-header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                @*<h1><a href="#">Medical Appointment</a></h1>*@
            </div>
            <div id="menu">
                <ul>
                    <li class="active"><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a href="/services" accesskey="2" title="">Services</a></li>
                    <li><a href="/aboutus" accesskey="3" title="">About Us</a></li>
                    <li><a href="#" accesskey="5" title="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="banner" class="container">
            <div class="title">
                <h2>Central Perk Hospital</h2>
                @*<span class="byline">Make an appointment</span>*@
            </div>
            <ul class="actions">
                <li><a href="#" class="button">Make an appointment</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
