
.vs/AppointmentApp/xs/sqlite3/db.lock
.vs/AppointmentApp/xs/sqlite3/storage.ide
.vs/AppointmentApp/xs/sqlite3/storage.ide-wal
.vs/AppointmentApp/xs/sqlite3/storage.ide-shm
.vs/AppointmentApp/xs/UserPrefs.xml
