<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
    <link href="../../../Content/main.css" rel="stylesheet" type="text/css" />
    <link href="../../../Content/fonts.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="black-header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="/">Central Perk</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a href="/services" accesskey="2" title="">Services</a></li>
                    <li class="active"><a href="/aboutus" accesskey="3" title="">About Us</a></liclass="active">
                    <li><a href="#" accesskey="5" title="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="banner" class="container">
            <div class="title">
                <h3>Central Perk Hospitals has committed Centers of Excellence for a few key specialties and super specialties. They are unique and best in class offices spread over a few of the ABC healing facility area and each Center of Excellence emerges as a stronghold of greatness. </h3>
                </br>
                </br>
                <h3>At Central Perk, we think of it as our prime responsibility to give excellent quality clinical care to every one of our patients. Putting the patient at the center of our tasks, we have created vigorous quality gauges, utilized master determinations and treatment designs and improved contamination and security conventions to render them the most fitting treatment.</h3>
            </div>
        </div>
    </div>
</body>
</html>
