<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
    <link href="../../../Content/main.css" rel="stylesheet" type="text/css" />
    <link href="../../../Content/fonts.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="black-header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="/">Central Perk</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li class="active"><a href="/services" accesskey="2" title="">Services</a></li>
                    <li><a href="/aboutus" accesskey="3" title="">About Us</a></li>
                    <li><a href="#" accesskey="5" title="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="banner" class="container">
            <div class="title">
                <h3>Convenient Care and Quick, Accurate Lab Results</h3>
                </br>
                <h4>Central Perk provides fast and accurate high-quality lab services in their main hospital and at three convenient locations in the community.</h4>
                </br>
                </br>
                <h3>Laboratory Services at Central Perk Hospital</h3>
                </br>
                <h4>The laboratory at Central Perk Hospital provides high-quality care and quick, accurate results to help physicians diagnose and treat patients effectively. At the Central Perk laboratory, our expert staff supports hospitalized patients as well as those in need of emergency care. We also offer a wide range of outpatient services. In addition to the laboratory on the first floor of Central Perk, you can visit one of our three convenient collection sites throughout the community.</h4>
                <h3>Requesting Laboratory Test Results</h3>
                </br>
                <h4>ou can request a copy of your results at the time of collection by signing a waiver form and providing a photo ID. To protect your privacy, you are the only one who can request your results. We cannot give results over the phone. Read more about our privacy policy.</h4>
            </div>
        </div>
    </div>
</body>
</html>
